<!doctype HTML>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/reddit.css">
    </head>
    <body>
        <div>
        
            <h2>What's your subreddits name</h2>
            <form method="POST" action="/create-subreddit/create">
        
            <label>Subs name</label>
            <input type="text" name="sub" required/>
        
            <input type="submit" value="sub"/>
            </form>
            
        </div>
    </body>
</html>