<!doctype HTML>
<html>
  <head>
    <title> <%= title %></title>
    <link type="text/css" rel="stylesheet" href="/reddit.css">
  </head>
  <body>
    <header>
        <div id="header">
        <% if(locals.user) { %>
            <% if(locals.user.role === "Author") { %>
            <a href="/posts/new">Create a Post</a>
            <% } %>
            <a href="/signout"><button type="button">Sign Out</button></a>
        <% } else { %>
            <a href="/signin"><button type="button">Sign In</button></a> 
            
            <a href="/signup"><button type="button">Sign Up</button></a>
        <% } %>
        </div>
    </header>
    <h1>Welcome to Reddit</h1>
    <div>
        <% if(locals.user) { %>
            Welcome <%= user.username %>!
            <% if(locals.user.role === "Author") { %>
            <a href="/posts/new">Create a Post</a>
            <% } %>
        <% } %>
    </div>
    <div class="content">      
      <%- post %>  
    </div>
    <div>
        <%- list %>  
    </div>
    <script src="/reddit.js"></script>
  </body>
</html>