<nav>
  <ul>
  <% posts.forEach(function(post){ %>
    <li>
        <div class="post-container">
            <div>
                <a class="posts" href="/post-comments/<%= post.id %>">
                    <%= post.title %>
                </a>
            </div>
        </div>
  <% }); %>
  </ul>
</nav>