<!doctype HTML>
<html>
  <head>
    <title> <%= subreddits.name %></title>
    <link type="text/css" rel="stylesheet" href="/reddit.css">
  </head>
  <body>
    <header>
        <div id="header">
        <% if(locals.user) { %>
            <% if(locals.user.role === "Author") { %>
            <a href="/posts/new">Create a Post</a>
            <% } %>
            <a href="/signout">Sign Out</a>
        <% } else { %>
            <a href="/signin">Sign In</a> 
            or
            <a href="/signup">Sign Up</a>
        <% } %>
        </div>
    </header>
    <h1>Welcome to Reddit</h1>
    <div>
        <% if(locals.user) { %>
            Welcome <%= user.username %>!
            <% if(locals.user.auth === "Admin") { %>
            <a href="/create-subreddit">Create a Sub</a>
            <% } %>
        <% } %>
    </div>
    <div>
        <%- list %>  
    </div>
    <script src="/reddit.js"></script>
  </body>
</html>