<!doctype HTML>
<html>
  <head>
    <title> <%= subreddits.name %></title>
    <link type="text/css" rel="stylesheet" href="/reddit.css">
  </head>
  <body>
    <header>
        <div class="topnav">
          <img src="logo.png" style="width:64px;height:64px;" alt="KSU logo">
          <input type="text" placeholder="Search..">
        <% if(locals.user) { %>
            <% if(locals.user.role === "Author") { %>
              <% if(locals.user.auth === "Admin") { %>
                <a href="/create-subreddit"><button type="button">Create Sub</button></a>
                <a href="/delete-subreddit"><button type="button">Delete Sub</button></a>
                <a href="/create-admin"><button type="button">Create Admin</button></a>
              <% } %>
            <% } %>
            <a href="/signout"><button type="button">Sign Out</button></a>
        <% } else { %>
            <a href="/signin"><button type="button">Sign In</button></a> 
            
            <a href="/signup"><button type="button">Sign Up</button></a>
        <% } %>
        </div>
    </header>
    <h1>These are the recent Sub-Reddits</h1>
    <div>
        <% if(locals.user) { %>
            Welcome <%= user.username %>!
            <% if(locals.user.auth === "Admin") { %>
            <a href="/create-subreddit">Create a Sub</a>
            <a href="/create-admin">Create a admin</a>
            <% } %>
        <% } %>
    </div>
    <div>
        <%- list %>  
    </div>
    <script src="/reddit.js"></script>
  </body>
</html>