<nav>
    <ul>
    <% subreddits.forEach(function(sub){ %>
        <li>
            <div class="sub-container">
                <a class="subs" href="/r/<%= sub.id %>">
                    <div class="r/subs">
                        <h3><%= sub.name %></h3><p>By: <%= sub.creator %></p>
                    </div>
                </a>
            </div>
    <% }); %>
    </ul>
  </nav>
  